<mat-nav-list cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-list-item
    *ngFor="let todo of todos"
    cdkDrag
    [class.list-item--expired]="isExpired(todo.expireDate)"
  >
    <mat-checkbox matLine [(ngModel)]="todo.completed">{{
      todo.title
    }}</mat-checkbox>
    <div matLine>
      <span class="list-item-subtitle">{{ todo.expireDate | amTimeAgo }}</span>
    </div>
    <button mat-icon-button (click)="openDialog(todo)">
      <mat-icon>edit</mat-icon>
    </button>
    <mat-checkbox *cdkDragPreview matLine [(ngModel)]="todo.completed">{{
      todo.title
    }}</mat-checkbox>
  </mat-list-item>
</mat-nav-list>
