@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-deep-purple);

.mat-nav-list .mat-list-item {
  cursor: move;
}

.app-todo-list {
  .list-item {
    &-subtitle {
      margin-left: 25px;
    }
  }

  .mat-list-item {
    &--expiring {
      background: mat-color($mat-deep-purple, 50);
    }

    &--expired {
      background: mat-color($mat-deep-purple, 100);
    }

    &--completed {
      background: mat-color($mat-blue-gray, 50);
      color: mat-color($mat-blue-gray, 300);
    }
  }
}
