<div class="add-new-todo">
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="What needs to be done?"
      autofocus=""
      [(ngModel)]="newTodo.title"
      (keyup.enter)="addTodo()"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Choose period" [(value)]="newTodo.expireDate">
      <mat-option *ngFor="let period of avPeriods" [value]="period.value">
        {{ period.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="addTodo()">Add</button>
</div>
