<div class="mat-app-background basic-container">
  <section class="todoapp">
    <header class="header">
      <h1>Todos</h1>
      <app-add-new-todo (addNewTodo)="addTodo($event)"></app-add-new-todo>
    </header>
    <section *ngIf="todos.length > 0">
      <app-todo-list [todos]="todos"></app-todo-list>
    </section>
    <footer class="footer" *ngIf="todos.length > 0">
      <span class="todo-count"
        ><strong>{{ countCompleted(todos) }}</strong>
        {{ todos.length == 1 ? 'item' : 'items' }} left</span
      >
    </footer>
  </section>
</div>
